-- Corrective SQL Script for "members" table
UPDATE members SET phone = '010-9352-0919', mbti = 'ENFJ', affiliation = 'TTC', achievements = '', role = '?뚯옣' WHERE nickname = '諛뺢킅??;
UPDATE members SET phone = '010-3187-2161', mbti = 'ENFJ', affiliation = '?곗껜援?, achievements = '', role = '遺?뚯옣' WHERE nickname = '媛뺤젙??;
UPDATE members SET phone = '010-8526-5237', mbti = 'ISTP', affiliation = '?⑥뼇', achievements = '?좎씤遺 ?곗듅 | 23???꾩떎移섏쫰諛??곗듅', role = '珥앸Т' WHERE nickname = '?뺤긽??;
UPDATE members SET phone = '010-2696-0356', mbti = 'ESFJ', affiliation = '?뚯궗??, achievements = '', role = 'CEO', position = '?щТ' WHERE nickname = '怨쎈???;
UPDATE members SET phone = '010-7224-3689', mbti = 'ESFJ', affiliation = '?꾩궛 嫄곗＜??, achievements = '?좎씤遺 ?낆긽 | 23??怨듭＜ 臾대졊?뺣같 以?곗듅', role = '寃쎄린' WHERE nickname = '源誘쇱?';
UPDATE members SET phone = '010-4665-8384', mbti = 'ESFP', affiliation = '?뚯궗??, achievements = '', role = '??쇅' WHERE nickname = '?⑥씤??;
UPDATE members SET phone = '010-6680-7119', mbti = 'ESTJ', affiliation = '?꾪뙥??, achievements = '', role = '?뺥쉶?? WHERE nickname = '媛?댄쁽';
UPDATE members SET phone = '010-3447-5660', mbti = 'INTP', affiliation = '?곗껜援??꾩궛', achievements = '', role = '?뺥쉶?? WHERE nickname = '援щ큺以';
UPDATE members SET phone = '010-5808-1382', mbti = 'INSJ', affiliation = '?섎굹濡?, achievements = '?좎씤遺 ?낆긽 | 25???덉궛?ㅻ큺湲몃같 怨듬룞3??, role = '?뺥쉶?? WHERE nickname = '源蹂묒떇';
UPDATE members SET phone = '010-7272-3941', mbti = 'ISTJ', affiliation = 'TTC', achievements = '?좎씤遺 ?낆긽 | 25???섏궗?쇰같 梨뚮┛?遺 以?곗듅', role = '?뺥쉶?? WHERE nickname = '源?곸?';
UPDATE members SET phone = '010-9622-0708', mbti = 'ESFJ', affiliation = 'TTC', achievements = '?좎씤遺 ?낆긽 | 25??怨듭＜ 臾대졊?뺣같 怨듬룞3?? 25???쒖궛紐⑥떆諛?怨듬룞3??, role = '?뺥쉶?? WHERE nickname = '源?곸슦';
UPDATE members SET phone = '010-2762-1448', mbti = 'ENTP', affiliation = '?꾩궛 嫄곗＜??, achievements = '', role = '?뺥쉶?? WHERE nickname = '源?ы삎';
UPDATE members SET phone = '010-4723-4241', mbti = 'ESTJ', affiliation = '?꾩궛 嫄곗＜??, achievements = '?좎씤遺 ?낆긽 | 25??怨듭＜ 臾대졊?뺣같 怨듬룞3??, role = '?뺥쉶?? WHERE nickname = '留밸룞??;
UPDATE members SET phone = '010-6859-5411', mbti = 'ISFP', affiliation = '?꾪뙥??, achievements = '', role = '?뺥쉶?? WHERE nickname = '諛뺢컯吏?;
UPDATE members SET phone = '010-7745-8902', mbti = 'ISFJ', affiliation = '?뚯궗??, achievements = '', role = '?뺥쉶?? WHERE nickname = '諛뺣낫??;
UPDATE members SET phone = '010-9420-7018', mbti = 'ENTJ', affiliation = '?섎굹濡?, achievements = '?좎씤遺 ?낆긽 | 25???덉궛?ㅻ큺湲몃같 怨듬룞3??, role = '?뺥쉶?? WHERE nickname = '諛뺥쁽誘?;
UPDATE members SET phone = '010-9465-5648', mbti = 'INTP', affiliation = '?섎굹濡?, achievements = '?좎씤遺 ?곗듅 | KTA ?앹껜 ?곗듅', role = '?뺥쉶?? WHERE nickname = '諛곗닔誘?;
UPDATE members SET phone = '010-3682-9336', mbti = 'ENFP', affiliation = '?꾩궛 嫄곗＜??, achievements = '?좎씤遺 ?낆긽 | 25??泥쒖븞?쒖옣諛? 怨듬룞3??, role = '?뺥쉶?? WHERE nickname = '?≪???;
UPDATE members SET phone = '010-6411-9865', mbti = 'ISTP', affiliation = 'T1', achievements = '', role = '?뺥쉶?? WHERE nickname = '?좏슚泥?;
UPDATE members SET phone = '010-9998-6619', mbti = 'ENFJ', affiliation = '?꾩궛 嫄곗＜??, achievements = '?좎씤遺 ?낆긽 | 25??留뚯꽭蹂대졊癒몃뱶諛?以?곗듅, 26???쒓??ъ튌??━ 怨듬룞3??, role = '?뺥쉶?? WHERE nickname = '?ы뿄??;
UPDATE members SET phone = '010-6213-4723', mbti = 'ESTJ', affiliation = 'TTC', achievements = '?좎씤遺 ?낆긽 | 25???쒖궛紐⑥떆諛?怨듬룞3??, role = '?뺥쉶?? WHERE nickname = '?꾩슜??;
UPDATE members SET phone = '010-4477-9493', mbti = 'ENTJ', affiliation = '?꾩궛 嫄곗＜??, achievements = '?좎씤遺 ?낆긽 | 25???뱀쭊?쒗빐?섎（諛?以?곗듅, 25???쒖궛紐⑥떆諛?以?곗듅', role = '以?뚯썝' WHERE nickname = '李⑦삎??;
UPDATE members SET phone = '010-9688-1715', mbti = 'ISTP', affiliation = 'TTC', achievements = '', role = '?뺥쉶?? WHERE nickname = '異붿꽍';
UPDATE members SET phone = '010-6444-9222', mbti = 'ESFJ', affiliation = 'TTC', achievements = '?좎씤遺 ?낆긽 | 25??泥쒖븞?쒖옣諛? 怨듬룞3??, role = '?뺥쉶?? WHERE nickname = '?띿뒳湲?;
UPDATE members SET phone = '010-8818-3769', mbti = 'ISFJ', affiliation = '?꾩궛 吏곸옣', achievements = '', role = '?뺥쉶?? WHERE nickname = '源?곹샇';
